.price {
  padding: 40px;
  background-color: rgb(48, 34, 34);
  color: white;
  margin: 0 auto;
}

.price .btn {
  color: white;
}

.yes i {
  color: #ff4500;
}

.no {
  color: rgba(255, 255, 255, 0.5);
}

.card-body {
  background-color: rgb(27, 19, 19);
  color: white;
}

.text-bg-primary {
  background-color: #ff4500;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1019607843);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1019607843), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.1490196078);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

main {
  background-color: rgb(48, 34, 34);
}

.hero {
  width: 100%;
  height: 500px;
  padding: 50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/hero-back.webp);
  background-size: cover;
  color: white;
  padding-right: 800px;
}

#hero-title {
  color: white;
}

.lead {
  font-size: 24px;
  text-shadow: 1px 1px 2px black;
}

.btn-outline-secondary {
  color: white;
}

.time {
  padding: 0px;
  margin: 10px;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: rgb(48, 34, 34);
  padding: 8px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}

.nav {
  flex-direction: row-reverse;
  height: 20px;
  margin-top: 10px;
}

.nav-link {
  color: #ff4500;
}

.nav-link:hover {
  color: #d63d06;
}

.nav-link.active {
  background-color: #ff4500;
}

.logo {
  height: 50px;
}

.logo-lightning {
  color: #ff4500;
}

.nav-pills .nav-link.active {
  background-color: #ff4500;
}

.nav-pills .nav-link.active:hover {
  background-color: #d63d06;
}

.forma {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 140px;
  background-color: rgb(48, 34, 34);
  color: white;
  gap: 20px;
}

form input {
  margin-bottom: 10px;
}

.btn {
  background-color: #ff4500;
  border: none;
}

.btn:hover {
  background-color: #d63d06;
}

.form-title {
  font-size: 44px;
}

.form-info {
  font-size: 20px;
}

.forma i {
  color: #ff4500;
  margin-right: 6px;
}

.form-guide {
  color: rgba(255, 255, 255, 0.5);
}

form {
  background-color: rgb(27, 19, 19);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.text-body-secondary {
  background-color: rgb(27, 19, 19);
  color: white;
  margin: 0 auto;
}

.trainer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 150px;
}

.trainer-card {
  color: white;
  background-color: rgb(27, 19, 19);
  border-radius: 8px;
  text-align: center;
}

.trainer-card img {
  width: 100%;
}

.trainer-job {
  color: #ff4500;
}