.price{
    padding: 40px;
    background-color: rgb(48, 34, 34);
    color: white;
    margin: 0 auto;
}
.price .btn{
    color: white;
}
.yes i{
    color: #ff4500;
}
.no{
    color: rgba(255, 255, 255, 0.5  );
}
.card-body{
    background-color: rgb(27, 19, 19);
    color: white;
}
.text-bg-primary{
    background-color: #ff4500;
}