.trainer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 150px;
    padding-top: 40px;
    
}
.trainer-card{
    color: white;
    background-color: rgb(27, 19, 19);
    border-radius: 8px;
    text-align: center;
    height: fit-content;
}
.trainer-card img{
    width: 100%;
    
}
.trainer-job{
    color: #ff4500;
}
.section-name{
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 44px;
    margin-top: 20px;
}